<footer class="flex flex-col space-y-2 mt-8 text-zinc-200/70 text-xs">
    <div class="flex flex-row space-x-2 items-center">
        <!-- <div class="h-[13.5px] w-[13.5px] border border-success-dark bg-success-light rounded-full"></div> -->
        <span
            class="font-bold text-success-light transition ease-in-out select-none"
            >All Services Functional</span
        >
    </div>
    <div class="flex items-center justify-between">
        <span class="hover:text-zinc-100/90 transition ease-in-out select-none">
            Dimensional Fun &copy; 2020 - {new Date().getFullYear()}
        </span>
        <div class="flex space-x-2 items-center text-xl">
            <a
                class="hover:text-zinc-100/90 transition ease-in-out icon-[ri--discord-fill]"
                href="https://discord.gg/8R4d8RydT4"
                title="Discord Server"
            >
            </a>
            <a
                class="hover:text-zinc-100/90 transition ease-in-out icon-[ri--twitter-fill]"
                href="https://twitter.com/dimensional-fun"
                title="Discord Server"
            >
            </a>
            <a
                class="hover:text-zinc-100/90 transition ease-in-out icon-[ri--github-fill]"
                href="https://github.com/dimensional-fun"
                title="GitHub Org"
            >
            </a>
        </div>
    </div>
</footer>
